@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
}
.collection-item{
  width: 100%;
}


.material-icons:hover{
  cursor: pointer;
}